
body{
        background-color: white;
    }
    h1{
        color: red;
        font-size:40px;
    }
    p{
        font-size:25px;
    }
    h2{
        color:blue;
        font-size:20px;
    }

    #TASK2
    button:hover{
        color:red;
        background-color: navy;
        padding: 10px;
    }
    .btn_second::placeholder{
        color:aqua;
        background-color: lightblue;
        padding: 20px;
    }
